.pagination {
    /* Bootstrap overrides */
    --bs-body-bg: var(--color-bg);
    --bs-body-color: var(--color-text);
    --bs-pagination-color: var(--color-text);
    --bs-pagination-hover-bg: var(--color-bg-secondary);
    --bs-pagination-active-bg: var(--color-today-bg);
    --bs-pagination-active-border-color: white;
    --bs-pagination-active-color: #fff;
    --bs-pagination-focus-bg: transparent !important;
    --bs-pagination-focus-box-shadow: transparent !important;
}

#filter-table::placeholder {
color: var(--color-text-muted);
}
